{% extends '_layouts/detail-entry.njk' %}

{% set entry = data.entries[1] %}

{% block page_title %}{{ entry.title }}{% endblock %}

{% block description %}Blog entry {{ entry.title }} {{ entry.date }}.{% endblock %}

{% block info %}
         <img src="img/kraken02.jpg" alt="pirate character" class="img-fluid">
         <p class="byline">By Crit McGillicutty<br>
         <span>Island Breeze Tribune</span></p>
{% endblock %}

{% block story %}
  <h1>{{ entry.title }}</h1>
  <h5>{{ entry.date }}</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Curabitur vitae nunc sed velit. Varius sit amet mattis vulputate enim nulla aliquet porttitor lacus. Duis convallis convallis tellus id interdum velit laoreet. Morbi non arcu risus quis. Egestas tellus rutrum tellus pellentesque eu tincidunt. Massa enim nec dui nunc mattis. At lectus urna duis convallis convallis tellus. Sed euismod nisi porta lorem mollis aliquam ut. Cursus in hac habitasse platea dictumst quisque. Et odio pellentesque diam volutpat commodo. Neque egestas congue quisque egestas diam in arcu. Consectetur a erat nam at lectus urna duis. At volutpat diam ut venenatis. Vitae tempus quam pellentesque nec nam aliquam sem et tortor. Euismod lacinia at quis risus sed vulputate odio ut enim. Arcu felis bibendum ut tristique et egestas.</p>

   <p>Nulla facilisi etiam dignissim diam quis enim. Faucibus purus in massa tempor nec feugiat nisl. Quam pellentesque nec nam aliquam sem. Senectus et netus et malesuada fames ac turpis egestas sed. Pulvinar etiam non quam lacus suspendisse faucibus. Quis blandit turpis cursus in hac habitasse platea. Ut eu sem integer vitae justo. Mattis rhoncus urna neque viverra. Aliquam eleifend mi in nulla posuere. At augue eget arcu dictum varius. Nam aliquam sem et tortor consequat. Dis parturient montes nascetur ridiculus mus. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Risus commodo viverra maecenas accumsan lacus vel. Placerat in egestas erat imperdiet sed euismod. Vestibulum sed arcu non odio. Elementum eu facilisis sed odio morbi quis.</p>
{% endblock %}