{% extends '_layouts/detail-entry.njk' %}

{% block page_title %}Blog entry title{% endblock %}

{% block page_description %}Blog entry description.{% endblock %}

{% block story %}
  <h2>Undead: Right column content</h2>
  <p>Zombie ipsum brains reversus ab cerebellum viral inferno, thalamus nam rick mend grimes malum cerveau cerebro.</p>
{% endblock %}