{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block page_description %}A daily blog from Capt. Crit McGillicutty.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>A Pirate's Life for Me</h1>
      <p>'Tis I, Captain McGillicutty, and I didn't choose a pirate's life. It chose me. Through my diary, I hope to show you scallywags the struggles of the life of a pirate. I will take you through the amazing adventures and the down days on the poop deck. This isn't a Disney movie, this is the real life of a pirate.</p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
